<div class="fixed-action-btn">
    <a href="/stories/add" class="btn-floating btn-large red waves-effect waves-light pulse tooltipped" data-position="left"
        data-tooltip="Add Stories">
        <i class="fa fa-plus"></i>
    </a>
</div>