{{#if success_msg}}
<div class="card green darken-1">
  <div class="card-content">
    {{success_msg}}
  </div>
</div>
{{/if}} 

{{#if error_msg}}
<div class="card red darken-1">
  <div class="card-content">
    {{error_msg}}
  </div>
</div>
{{/if}}